{% extends "layout.html" %}
{% block content %}
<div class='container pull-left col-sm-2'>
   <img src="/static/sample/Lenna.png" class="img-rounded img-responsive">
   <div class='container'>
      <h3><a href="/group/{{groupname}}">{{groupname}}</a></h3>
   </div>
</div>
<div class="container well well-lg col-sm-8">
   <h3>{{topicname}}</h3><br>
   {% autoescape false %}
   <h4>{{description[3]|e|replace("\n", "<br />\n")}}</h4>
   {{description[4]}} created by {{description[2]}}
   {% endautoescape %}
   <br><br>
   {% if (groupname,) in user.group_list %}
      <form action="/group/{{groupname}}/{{topicname}}" method="post" class="form-horizontal">
	   <div class="form-group">
	   	<textarea placeholder="input text" rows="3" class="form-control" id="InputTextarea" name="post_detail"></textarea>
	   </div>
      <input type="hidden" value="{{user.username}}" name="username">
      <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" id="postArticle">
      <input type="submit" class="btn btn-default" value='Post'>
      </form>
      <br>
   {% endif %}
   <div id="article"></div>
</div>
<div class="container well well-lg col-sm-2 pull-right">Menu</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/board.js"></script>
{% endblock %}
