<div id="cp_message">
</div>
<form action="/edit/password" method="post" >
<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
<div class="form-group">
  <label for="InputOldPassword">corrent password</label>
  <input type="password" class="form-control" id="InputOldPassword" placeholder="input corrent password" name="c_password">
</div>
<div class="form-group">
  <label for="InputNewPassword">new password</label>
  <input type="password" class="form-control" id="InputNewPassword" placeholder="input new password" name="n_password">
</div>
<div class="form-group">
  <label for="ConfirmPassword">confirm</label>
  <input type="password" class="form-control" id="ConfirmPassword" placeholder="confirm password" name="confirm">
</div>
<div class="alert alert-warning" role="alert" id="NotMatch" style="display: none;"><strong>alert</strong>：Passwords do not match!</div>
<br>
<input type="button" class="btn btn-default" value="Change" onclick="javascript: postPassword();" >
</form>
<script>
function postPassword(){
  if($('#InputNewPassword').val() == ""){
    alert('Fill in the blank!!');
  }else if($('#InputOldPassword').val() == ""){
    alert('Fill in the blank!!');
  }else if ($("#InputNewPassword").val() != $("#ConfirmPassword").val()) {
    $("#NotMatch").show();
  }else{
    $.get('/get_token', function(token){
       $.post('/edit/password', {"c_password": $('#InputOldPassword').val(),"n_password": $('#InputNewPassword').val(), "_csrf_token": token}, function(result){
         if(result == "True"){
            location.href = "/";
         }else if(result == "False"){
            $('#cp_message').html('<div class="alert alert-warning" role="alert"><strong>alert: </strong>Password Incorrect!!</div>');
         }
       });
    });
  }
}
</script>
