{% if message %}
   <div class="alert alert-warning" role="alert"><strong>alert</strong>：{{ message }}</div>
{% endif %}
<form action="/signup" method="post" id="input-pass">
<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
<div class="form-group">
  <label for="InputOldPassword">corrent password</label>
  <input type="text" class="form-control" id="InputOldPassword" placeholder="input corrent username" name="c_password">
</div>
<div class="form-group">
  <label for="InputNewPassword">new password</label>
  <input type="password" class="form-control" id="InputNewPassword" placeholder="input new password" name="n_password">
</div>
<div class="form-group">
  <label for="ConfirmPassword">confirm</label>
  <input type="password" class="form-control" id="ConfirmPassword" placeholder="confirm password" name="confirm">
</div>
<div class="alert alert-warning" role="alert" id="NotMatch" style="display: none;"><strong>alert</strong>：Passwords do not match!</div>
<br>
<input type="submit" class="btn btn-default" value='Change'>
</form>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/signup.js"></script>
