{% extends "layout.html" %}
{% block content %}
<div class='container pull-left col-sm-2'>
   <div class='container'>
      <ul class="list-unstyled lead">
      <li><a href="javascript:void(0);" onclick="javascript: getEditProfile('/edit/profile');">Profile</a></li>
      <li><a href="javascript:void(0);" onclick="javascript: getEditProfile('/edit/password');">Password</a></li>
      </ul>
   </div>
</div>
<div class="container well well-lg col-sm-8" id="editObject">
</div>
<script>
function  getEditProfile(object){
   $.get(object, function(result){
      $('#editObject').html(result);
   });
}
getEditProfile('/edit/profile');
</script>
{% endblock %}
