{% extends "layout.html" %}
{% block content %}
<div class='container pull-left col-sm-2'>
   <img src="/static/sample/Lenna.png" class="img-rounded img-responsive">
   <div class='container'>
      <h3>{{groupname}}</h3>
      <ul class="list-unstyled lead">
      <li>member
      <ul>
      {% for member in members %}
        <li><a href='/member/{{member[0]}}'>{{member[0]}}</a><br></li>
      {% endfor %}
      </ul>
      </li>
      </ul>
   </div>
</div>
<div class="container well well-lg col-sm-8">
   <h2>Topics</h2>
   <ul class="list-group">
   {% for topic in topics %}
      <li class="list-group-item">
         <h3><a href='/group/{{groupname}}/{{topic[1]}}'>{{topic[1]}}</a></h3>
         {{topic[4]}} created by {{topic[2]}}<br>
         <h4>{{topic[3]}} </h4>
      </li>
   {% endfor %}
   </ul>
</div>
<div class="container well well-lg col-sm-2 pull-right">
   <ul class="list-unstyled lead">
   {% if (groupname,) in user.group_list %}
   <li><small>Menu</small>
   <ul>
      <li><a href="/create_topic/{{groupname}}"><small>Create Topic</small></a></li>
   </ul>
   <ul>
      <li><a href="/invite_member/{{groupname}}"><small>Invite Member</small></a></li>
   </ul>
   <ul>
      <li><a href="javascript:void(0);" onclick="javascript: leaveGroup();"><small>Leave Group</small></a></li>
      <form action="/leave_group/{{groupname}}" method="post" id="leave_group">
         <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
      </form>
   </ul>
   {% else %}
   <ul>
      <form action="/add_member/{{groupname}}" method="post">
         <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
         <input type="submit" class="btn btn-default" value="Join Group">
      </form>
   </ul>
   {% endif %}
   </li>
   </ul>
</div>
<script src="/static/js/group.js"> </script>
{% endblock %}
