{% extends "layout.html" %}
{% block content %}
<div class='container pull-left col-sm-2'>
   {% if user.image %}
      <img src="/image/{{user.userid}}" class="img-rounded img-responsive">
   {% else %}
      <img src="/static/sample/sample-64x64.png" class="img-rounded img-responsive">
   {% endif %}
   <div class='container'>
      <ul class="list-unstyled lead">
      <li>Group list
      <ul>
      {% for group_name in user.group_list %}
        <li><a href='/group/{{group_name}}'>{{group_name}}</a><br></li>
      {% endfor %}
      </ul>
      </li>
      </ul>
   </div>
</div>
<div class="container well well-lg col-sm-8">
   <h2>Recently Update</h2>
   {% if updates %}
   {% for update in updates %}
      <li class="list-group-item">
         <h4><a href='/group/{{update[5]}}/{{update[1]}}'>{{update[1]}}</a></h4>
         {{update[2]}} posted {{update[4]}}<br>
         {{update[3]}}<br>
      </li>
   {% endfor %}
   {% endif %}
</div>
<div class="container well well-lg col-sm-2 pull-right">
      <ul class="list-unstyled lead">
      <li><small>Menu</small>
      <ul>
         <li><a href="/create_group"><small>Create Group</small></a></li>
      </ul>
      <ul><li><a href="/search/group"><small>Search Group</small></a></li></ul>
      <ul><li><a href="/edit_profile"><small>Edit Profile</small></a></li></ul>
      </li>
      </ul>
</div>
{% endblock %}
