{% extends "layout.html" %}
{% block content %}
<div class="container well well-lg col-sm-8 col-sm-offset-2">
   <h3></h3><br>
   <img src="/image/{{profile[0]}}" class="img-rounded img-responsive col-sm-2"><br>
   <table class="table">
   <tbody>
   <tr><th>Name:</th><td>{{profile[1]}}</td></tr>
   <tr><th>Job:</th><td>{{profile[2]}}</td></tr>
   <tr><th>Firm:</th><td>{{profile[3]}}</td></tr>
   <tr><th>Department:</th><td>{{profile[4]}}</td></tr>
   </tbody>
   </table>
</div>
<script>
  $('input[id=lefile]').change(function() {
    $('#photoCover').val($(this).val());
  });
</script>
{% endblock %}
